/* swipl content */

#contents p {
    font-size: 18px;
    font-style: normal;
}

.defbody {
    font-size: 18px;
    font-style: normal;
}

.

dl.tags > dt.tag {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

dl.tags > dd {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

code {
    font-style: normal;
    font-family: monospace;
    font-weight: 400;
}

#contents a {
    color: #0c3d6e;
}

.pubdef a {
    color: #FFF !important;
}

#contents a:hover {
    font-weight: 700;
}

#contents dt a:hover {
    font-weight: 400;
    cursor: pointer;
}

#contents .code {
    font-size: 14px;
}

